---
# Only the main Sass file needs front matter (the dashes are enough)
---

// @import "minima";

@import 'sidebar';
@import 'home';


* {
  display: block;
  flex: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

head,
script,
style,
svgs- {
  display: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: calc(14px + .5vw);
  &.harvard { color: #a41034; }
  &.yale { color: #00356b; }
}

h1, h2, h3, p {
  color: #212121;
}


a {
  color: currentColor !important;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.yale .harvard,
.harvard .yale {
  display: none;
}

body.sidebar-open {
  overflow: hidden;
}

site- {
  position: relative;
  z-index: 0;
  display: flex;
  > :last-child {
    flex: 1 1 100%;
  }
  > :first-child {
    flex: 1 1 15rem;
  }
  @media (orientation: portrait) {
    margin-top: 4rem;
  }
}

svg {
  max-width: 100%;
}

header {
  padding: 1rem;
  border-bottom: 1px solid #f2f2f2;
  svg {
    width: 5rem;
    height: 2rem;
  }
  @media (orientation: landscape) {
    display: none;
  }
  @media (orientation: portrait) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
  }
}

main {
  transition: opacity 1s ease;
  opacity: 1;
  @media (orientation: landscape) {
    padding: 1rem;
  }
}

.sidebar-open main {
  opacity: 0.5;
}

.sidebar-trigger {
  background: transparent;
  outline: none;
  @media (orientation: portrait) {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    padding-bottom: 0.1rem;
  }
  @media (orientation: landscape) {
    display: none;
  }
}

