<home-page>
    <feed->
        {% for announcement in site.data.announcements %}
            <post- class="cover">
                <h1>{{announcement.title}}</h1>
                <p><a href="{{ announcement.link }}">{{announcement.linktitle}}</a></p>
            </post->
        {% endfor %}
        <post- class="video">
            <svg viewBox="0 0 21 9"></svg>
            <a href="https://www.youtube.com/embed/LO26ThcsvF0?autoplay=1&rel=0">
                <img class="middle" src="https://cdn.cs50.net/2016/fall/video_projects/2016_memory_reel/2016_memory_reel-1080p.png"/>
            </a>
            <h1>This was CS50</h1>
            <svg class="play"><use xlink:href="#icon-youtube"></use></svg>
        </post->
        <post- class="quote">
            <p>Demanding, but definitely doable. Social, but educational. A focused topic, but broadly applicable skills. CS50 is the quintessential Harvard (and Yale!) course."</p>
        </post->
    </feed->
</home-page>