<sidebar->
    <nav>
        <a href='/'>
            <svg><use xlink:href="#icon-cs50-wordmark"></use></svg>
        </a>
        <div>
            <h2 class="harvard">{{ site.name }}</h2>
            <h1 class="harvard">{{ site.school }}</h1>
            <a class="harvard" href="mailto:malan@harvard.edu">{{ site.email }}</a>
        </div>
        <ul>
            <a href="https://cs50.net/discuss">Discuss</a>
            <a class="harvard" href="https://cs50.harvard.edu/faqs">FAQs</a>
            <a class="yale" href="https://cs50.yale.edu/faqs">FAQs</a>
            <a class="harvard" href="https://cs50.harvard.edu/project">Final Project</a>
            <a class="yale" href="https://cs50.yale.edu/project">Final Project</a>
            <a href="http://cs50.net/gradebook">Gradebook</a>
            <a href="/weeks">Lectures</a>
            <a href="/weeks">Problem Sets</a>
            <a href="/quizzes">Quizzes</a>
            <a href="https://reference.cs50.net">Reference</a>
            <a href="/sections">Sections</a>
            <a href="https://manual.cs50.net/seminars/">Seminars</a>
            <a href="/staff">Staff</a>
            <a href="https://study.cs50.net/">Study</a>
            <a href="https://manual.cs50.net/style/">Style Guide</a>
            <a href="/syllabus">Syllabus</a>
            <span><p>With thanks to our </p><a href="/supporters">supporters.</a></span>
        </ul>`
    </nav>
</sidebar->